body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 800px 0px;
    gap: 10px;
    border: 4px solid blue;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgba(220, 226, 255, 0.575);
    border-radius: 10px;
    border: 4px solid red;
    gap: 5px;
    margin: 10px;
}

.hijo {
    background-color: rgb(143, 251, 255);
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin: 10px;
}

.itemNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    background-color: rgba(220, 226, 255, 0.575);
    border-radius: 10px;
    border: 4px solid red;
    gap: 5px;
    margin: 10px;
}

nav {
    background-color: rgba(128, 149, 255, 0.575);
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    gap: 5px;
    margin: 10px;
    padding: 10px;
}

ul {
    padding: 2x;
}

li {
    padding: 5px;
}

.imagen {
    background-color: rgb(206, 255, 157);
    border: 2px solid black;
    margin: 10px;
}