.borde{
    border: 1px solid rgb(255, 255, 255);
}

.verde{
    background-color: greenyellow;
    min-height: 10px;
}

.rosa{
    background-color: rgb(243, 37, 174);
    min-height: 100px;
}

.naranja{
    background-color: rgb(255, 160, 52);
    min-height: 150px;
}

.azul{
    background-color: rgb(57, 124, 211);
    min-height: 150px;
}

.rojo{
    background-color: rgb(221, 17, 3);
    min-height: 100px;
}