.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.fila2 {
    width: 100%;
}

.alturaPost {
    min-height: 100vh;
}