/* Añado las clases para formatear la tabla*/
html{
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  /*margin-left: 400px;*/
}

table {
  background-color: #2F4F4F;
  border-style: none;
  padding: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-left: 300px;
  margin-top: 50px;
}

th, td {
  background-color: #FFFFFF;
  width: 320px;
  border-width: 0px;
  padding: 5px;
  color: #ff0000;
  text-align: center;
}

#formulario {
  margin-left: 200px;
}