html body{
    background-color: darkslategray;
}

.header{
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center;
    height: 35rem;
    align-content: center;
}

.logo{
    width: 5rem;
}

h1{
    text-align: center;
    font-size: 10rem;
    font-family: fantasy;
    color: aliceblue;
}

h2{
    text-align: center;
    font-size: 4rem;
    font-family: fantasy;
    color: aliceblue;
    animation-name: desplazar;
    animation-duration: 5s;
    animation-fill-mode: both;
}

h3{
    text-align: left;
    font-size: 3rem;
    font-family: fantasy;
    color: beige;
}

nav{
    text-align: center !important;
    background-color: cornflowerblue !important;
}

.imgComida{
    width: 100%;
    height: 20rem;
}

.imgArtista {
    width: 100%;
}

.parrafo{
    text-align: left;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer {
    background-color: rgb(141, 159, 160) !important;
}

.sombra:hover {
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(5, 5, 5, 5);
  }
}


@keyframes entradaTexto {
    from {
        transform: translate(-1500px, 0px);
        opacity: 0%;
    }
    to {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

.entrada {
    animation-name: entradaTexto;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.agrandarTabla:hover {
	animation: agrandarTabla 0.5s both;
    animation-delay: 0.2s;
}
@keyframes agrandarTabla {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}


@keyframes desplazar {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0px);
    }
}