table {
    background-color: #2F4F2F;
    border-style: none;
    padding: 5px;
}

th, td{
    background-color: #FFFFFF;
    width: 350px;
    border-width: 0px;
    padding: 5px;
    color: #FF0000;
    text-align: center;
}