@mixin fondo-articulo {
    @for $i from 1 through 6 {
        article:nth-child(#{$i}) {
            background-color: color-aleatorio(null, 0.3);
        }
    }
}

@mixin titulos {
    h {
        &1 {
            font: map-get($font-weight, "bold") map-get($font-sizes, "h1") $font-family;
        }

        &2 {
            font: map-get($font-weight, "bold") map-get($font-sizes, "h2") $font-family;
        }

        &3 {
            font: map-get($font-weight, "bold") map-get($font-sizes, "h3") $font-family;
        }
    }
}

@mixin cabecera {
    header {
        text-align: center;
        background-color: $default-background;
        padding: 0.5em;

        img {
            width: 10%;
            float: left;
        }

        h1,
        h2 {
            width: 90%;
            margin: $default-margin;
            padding: $default-padding;
            text-align: center;
        }

        h1 {
            color: color-aleatorio("rojo");
        }

        h2 {
            color: color-aleatorio("verde");
        }
    }
}

@mixin nav-horizontal {
    nav {
        background-color: $default-background;
        margin: $default-margin;
        margin-top: 0.5em;
        padding: 0.1em;
        text-align: center;
        text-transform: uppercase;

        ul {
            list-style: none;
            margin: $default-margin;

            li {
                display: inline;
                margin: $default-margin;
                padding: 0.2em;
                font: map-get($font-weight, "bold") map-get($font-sizes, "nav ul li") $font-family;

                a {
                    color: $color-menu;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }
}

@mixin nav-vertical {
    nav {
        background-color: $default-background;
        margin: $default-margin;
        margin-top: 0.5em;
        padding: 0.1em;
        text-align: center;
        text-transform: uppercase;

        ul {
            list-style: none;
            margin: $default-margin;

            li {
                //display: block;
                margin: $default-margin;
                padding: 0.2em;
                font: map-get($font-weight, "bold") map-get($font-sizes, "nav ul li") $font-family;

                a {
                    color: $color-menu;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }
}

@mixin footer {
    footer {
        text-align: center;

        div {
            background-color: $default-background;
            margin: 0.5em;
            padding: 0.2em;

            a {
                img {
                    width: 3em
                }
            }
        }

        p {
            background-color: $default-background;
            margin: $default-margin;
            padding: 0.1em;
            font: map-get($font-weight, "light") map-get($font-sizes, "p") $font-family;
        }
    }
}

@mixin reseteo-pagina {
    body {
        font: $cuerpo;
        color: $default-foreground;
    }

    html {
        max-width: $max-width;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        color: $default-foreground
    }
}